* {
    font-family: "Roboto", sans-serif;
    font-family: "Padauk", sans-serif;
}

:root {
    --first-color: rgb(29, 29, 39);
    --second-color: rgb(234, 161, 4);
    --third-color: white;
    --fourth-color: orange;
}
.image-text-container {
  position: relative;
  width: 100%;
  height: 500px;
}
.image-text-container img {
  width: 100%;
  height: 500px;
}
.text-overlay {
  position: absolute;
  inset: 0; /* top right bottom left = 0 */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: white;
  background: rgba(0, 0, 0, 0.4); /* optional dark overlay */
}
.text-overlay h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.text-overlay p {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
}

/* Custom Utilities */
.sub-heading {
    font-size: 1rem;
    color: var(--fourth-color);
    text-align: center;
}
.main-heading {
    font-size: 1.5rem;
    color: var(--third-color);
    text-align: center;
}
.heading-line {
    width: 300px;
    height: 2px;
    background-color: var(--fourth-color);
    margin: 30px auto;
}
body {
    background: linear-gradient(to left, var(--first-color), var(--second-color));
}

/* Navigation */
nav {
    background: linear-gradient(to left, var(--first-color), var(--second-color));
}

/* Service */
.service-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: 0.5s;
}
.service-card img:hover {
    transform: scale(1.2);
}

  /* Normal (inactive) tab color */
.nav-tabs .nav-link {
    color: white !important;
}

  /* Active tab color */
.nav-tabs .nav-link.active {
    color: white !important;
    background-color: #00000044;
    border-color: #00000044;
}

  /* On hover (optional) */
.nav-tabs .nav-link:hover {
    color: white;
}
